header nav img{
    width: 20%;
    height: 10em;
    border-radius: 20em;
}

#carouselExampleAutoplaying img{
        height: 20em;
}

.card-group .card{
    margin: 5em 0.1em 2em;
    padding: 2em 0.8em 0.8em;
}

.card-group .card:hover{
    opacity: 65%;
}



.cookie{width:100%;
    padding:20px;
    color: black;
    background:rgba(128, 233, 151, 0.7);
    bottom:0;
    border-radius: 20em;
    left:0;
    position:fixed;}

    .cookie button{
        background: gray;
        border: none;
        border-radius: 15%;
    }

    .cookie button:hover{
        scale: 1.2;
        color: white;
        background-color: green;
    }